<h1><u>Welcome</u></h1>
<h3>Game Rules!!</h3>
<p>Player 1 - Pick between Rock, Paper or Scissors</br>
Player 2 - Do the same</br>
Rock beats Scissors</br>
Scissors beats Paper</br>
Paper beats Rock</br>
See who wins!</p>
